@charset "UTF-8";


html{
  background-color: black;
}

header{
  background: black;
  padding-bottom: 20px;
}

#info {
  padding: 10%;
}

#info div {
  margin: 5% auto;
  width: 50%;
  text-align: center;
}
