@charset "UTF-8";


body{
  background-color: black;
}

header{
  background: black;
  padding-bottom: 20px;
}

#info {
  width: 100%;
}

#info div {
  margin: 5% auto;
  width: 50%;
  text-align: center;
}

div#about{
    /*width: 300px;*/
    border: 25px solid #86BBD8;
    padding: 25px;
    background-color: white;
    border-radius: 60%;
}

div#vision{
  /*width: 300px;*/
  border: 25px solid #758E4F;
  padding: 25px;
  background-color: white;
  border-radius: 60%;
}

div#mission{
  /*width: 300px;*/
  border: 25px solid #4BC6B9;
  padding: 25px;
  background-color: white;
  border-radius: 60%;
}

div#contact{
  border: 25px solid #404E5C;
  padding: 25px;
  background-color: white;
  border-radius: 60%;
}
