.infomation h1 {
    color: white;
    font-size: 3em;
}

.infomation p {
    color: white;
}

.infomation {
    background: rgba( 211, 211, 211, .1);
}

#container {
    padding-right: 5%;
    padding-left: 5%;
}

p {
    padding-left: 5%;
}

#form {
    background: rgba( 211, 211, 211, .1);
}