/*
     Author: Michael Wood
     Date:  4.26.18
     Filename: HomePage.css 

*/

html {
    background: black;
}

body {
    background: black;
    padding: 0px;
}

header {
    background: black;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
    background: black;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: rgb(0, 148, 70);
}

section {
    background: black;
}

h1 {
    text-align: center;
    font-family:
}

img {
    height: 700px;
    padding-bottom: 60px;
    background: black;
}