/*
     Author: Michael Wood
     Date:  4.26.18
     Filename: HomePage.css 

*/


/* 
html {
    background: radial-gradient(green, black);
} */

body {
    background: black;
    padding: 0px;
}

header {
    background: black;
    padding: 0px;
    padding-bottom: 20px;
}

nav {
    background-color: aquamarine;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(41, 44, 47);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: rgb(0, 148, 70);
}

#logo {
    float: left;
}

#navLink {
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
}

section {
    padding-bottom: 20px;
}

h1 {
    color: lightgray;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 60px;
}

h2 {
    color: lightgray;
    text-align: center;
    padding-bottom: 10px;
}


/* body {
    padding-left: 5%;
    padding-right: 5%;
} */

#container {
    padding-right: 6.2%;
    padding-left: 6.2%;
}

#Spin {
    background: grey;
}

#fig {
    background: grey;
    padding-top: 2%;
}

#carousel {
    height: 600px;
    width: 80%;
    background: grey;
}

.buttonImg {
    height: 200px;
    padding-top: 60px;
    padding-left: 20%;
}

#ways {
    padding-top: 20px;
}

p {
    color: white;
    display: inline;
    font-size: 2em;
    padding: 150px;
}

figcaption {
    color: white;
    background: radial-gradient(green, black);
}

figure {
    padding-bottom: 30px;
}


/* img {
    padding: 15px;
} */


/* =========================
   Mobile Styles: 0 to 480px
   =========================
*/


@media only screen and (max-width: 557px) {
    #desktop {
        display: none;
    }
    #phone{
        display: block;
    }
    #nav_1{
        display: none;
    }
    #nav_2{
        display: none;
    }
    .buttonImg{
        display: block;
        margin: 0 auto;
        padding-left: 100%;
        margin-left: 100%;
    } 
}


/* ============================================
   Tablet Styles: 481px and greater
   ============================================
*/

@media only screen and (min-width: 481px) and (max-width: 850px) {
    #desktop {
        display: block;
    }

    #phone {
        display: none;
    }

    #nav_1{
        display: none;
    }

    nav ul li a {
        font-size: 1em;
    }

    .buttonImg {
        display: block;
        margin: 0 auto;
        padding: none;
        border: none;
        align-content: center;
        justify-content: center;
    }

    #center {
        margin: 0 auto;
        white-space: nowrap;
    }

    #logo{
        width: 15%;
    }

    #name{
        width: 15%;
    }
}


/* ============================================
   Desktop Styles: 760px and greater
   ============================================
*/

@media only screen and (min-width: 851px) {
    #desktop{
        display: block;
    }

    #phone {
        display: none;
    }
    #nav_2{
        display: none;
    }

    .buttonImg {
        display: block;
    }
    
    #center{
        margin: 0 auto;
        white-space: nowrap;
    }
}